body{
	background-color:#F5F5F5;
}
div{
    width:100%;
    margin:auto;
	}
header{
	height:100px;
	background-color:#00FF9C;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	margin-top:-35px;
	letter-spacing:20px;
}
#get{
	margin-right:50px;
	background-color:#FFF67E;
    color:black;
	padding:10px;
	border-radius:20px;
	margin-left:190px;
	font: bold 20px "Times New Roman", serif;
}
#read{
	background-color:#FFF67E;
	font-size:20px;
	font-weight:Bold;
    color:black;
	padding:10px;
	border-radius:20px;
}
nav{
    height:60px;
    display:flex;
	justify-content:flex-end; 
	background-color:#B6FFA1;
}
a{
    padding:20px;
    text-decoration:none;
    font-size:25px;
	font-weight:bold;
    color:#b30000;
}
a:hover{
    background-color:blue;
	font-size:25px;
	color:white;
}
section{
    height:650px;
    margin-top:0px;
	border:3px solid black;
}
#s1{
	display:flex;
}
#s1 h1{
	font-size:100px;
	text-align:center;
	margin-bottom:10px;
}
#s1 p{
	font-size:30px;
	text-align:center;
}
#a{
    background-image:url("Stylus.pen.jpg");
	width:50%;
	color:white;
	}
#b{
	width:50%;
}
footer{
   height:160px;
   background-color:#ECE852;
   margin-top:0px;
   text-align:center;
}
.o{
	font-weight:bold;
	font-size:18px;
}
